Flask==2.1.0
flask-restful==0.3.7
pytz
gunicorn==20.1.0
requests
imgurpython
beautifulsoup4
#python-firebase
-e git://github.com/ozgur/python-firebase.git#egg=python-firebase
line-bot-sdk
paho-mqtt
gspread
oauth2client
