<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover"
    />
    <title>電子名片</title>
    <style>
      body {
        padding: 25px;
      }
      button {
        display: none;
        width: 50%;
        padding: 16px 0;
        margin: 16px auto;
      }
      input {
        width: 50%;
        padding: 16px 0;
        margin: 16px auto;
      }
    </style>
  </head>
  <body>
    <input id="name" type="text" placeholder="名字">
    <input id="title" type="text" placeholder="職稱">
    <input id="cellphone" type="text" placeholder="行動">
    <input id="mail" type="text" placeholder="email">
    <input id="phone" type="text" placeholder="分機">
    <button id="btnShare" onclick="sendShare()">Share Target Picker</button>
    <button id="btnLogin" onclick="liff.login()">Log In</button>
    <button id="btnLogOut" onclick="logOut()">Log Out</button>
    <script src="https://static.line-scdn.net/liff/edge/versions/2.8.0/sdk.js"></script>
    <script>
      async function sendShare() {
        const name = document.querySelector('input#name');
        const title = document.querySelector('input#title');
        const cellphone = document.querySelector('input#cellphone');
        const mail = document.querySelector('input#mail');
        const phone = document.querySelector('input#phone');
        const result = await liff.shareTargetPicker([
          {
            type: 'flex',
            altText: '電子名片',
            contents: {
              type: 'bubble',
              size: 'giga',
              header: {
                type: 'box',
                layout: 'horizontal',
                contents: [
                  {
                    type: 'box',
                    layout: 'vertical',
                    contents: [
                      {
                        type: 'text',
                        text: 'HORIZON',
                        size: 'xxl',
                        weight: 'regular',
                        gravity: 'center',
                        align: 'center',
                      },
                      {
                        type: 'box',
                        layout: 'horizontal',
                        contents: [
                          {
                            type: 'box',
                            layout: 'vertical',
                            contents: [],
                            flex: 1,
                            backgroundColor: '#1498e0',
                            height: '4px',
                          },
                          {
                            type: 'box',
                            layout: 'vertical',
                            contents: [],
                            flex: 1,
                            height: '4px',
                            backgroundColor: '#ff9d00',
                          },
                        ],
                        height: '4px',
                        flex: 1,
                      },
                    ],
                    flex: 38,
                  },
                  {
                    type: 'box',
                    layout: 'vertical',
                    contents: [
                      {
                        type: 'text',
                        text: '皓展資訊股份有限公司',
                        size: 'sm',
                      },
                      {
                        type: 'text',
                        text: 'www.hzn.com.tw',
                        size: 'sm',
                        action: {
                          type: 'uri',
                          label: 'action',
                          uri: 'http://www.hzn.com.tw',
                        },
                      },
                    ],
                    offsetStart: '15px',
                    offsetTop: '5px',
                    flex: 62,
                  },
                ],
              },
              body: {
                type: 'box',
                layout: 'horizontal',
                contents: [
                  {
                    type: 'box',
                    layout: 'vertical',
                    contents: [
                      {
                        type: 'text',
                        text: name.value,
                        size: 'xl',
                        align: 'center',
                        weight: 'bold',
                        color: '#1498e0',
                      },
                      {
                        type: 'text',
                        text: title.value,
                        size: 'sm',
                        align: 'center',
                      },
                    ],
                    flex: 38,
                    justifyContent: 'center',
                    offsetBottom: '15px',
                  },
                  {
                    type: 'box',
                    layout: 'vertical',
                    contents: [
                      {
                        type: 'text',
                        text: '| 行動：' + cellphone.value,
                        size: 'xs',
                      },
                      {
                        type: 'text',
                        text: '| 電話：02 2767 3776 # ' + phone.value,
                        size: 'xs',
                      },
                      {
                        type: 'text',
                        text: '| 傳真：02 2767 3250',
                        size: 'xs',
                      },
                      {
                        type: 'text',
                        text: '| 統編：24452051',
                        size: 'xs',
                      },
                      {
                        type: 'text',
                        text: '| Email：' + mail.value,
                        size: 'xs',
                      },
                      {
                        type: 'text',
                        text: '| 105 臺北市松山區復興北路1號3樓之4',
                        size: 'xxs',
                        offsetTop: '2px',
                      },
                    ],
                    flex: 62,
                    action: {
                      type: 'uri',
                      label: 'action',
                      uri: 'http://www.hzn.com.tw',
                    },
                  },
                ],
                margin: 'none',
              },
              footer: {
                type: 'box',
                layout: 'vertical',
                contents: [
                  {
                    type: 'box',
                    layout: 'vertical',
                    contents: [],
                    width: '30px',
                    backgroundColor: '#1498e0',
                    position: 'absolute',
                    height: '20px',
                    offsetTop: '6px',
                    offsetEnd: '50px'
                  },
                  {
                    type: 'box',
                    layout: 'vertical',
                    contents: [],
                    width: '30px',
                    backgroundColor: '#ff9d00',
                    position: 'absolute',
                    height: '10px',
                    offsetTop: '12px',
                    offsetEnd: '18px'
                  },
                ],
              },
            },
          },
        ]);
        if (result) {
          alert(`[${result.status}] Message sent!`);
        } else {
          const [majorVer, minorVer, patchVer] = (
            liff.getLineVersion() || ''
          ).split('.');

          if (minorVer === undefined) {
            alert('ShareTargetPicker was canceled in external browser');
            return;
          }

          if (
            parseInt(majorVer) >= 10 &&
            parseInt(minorVer) >= 10 &&
            parseInt(patchVer) > 0
          ) {
            alert('ShareTargetPicker was canceled in LINE app');
          }
        }
      }
      function logOut() {
        liff.logout();
        window.location.reload();
      }
      async function main() {
        localStorage.setItem("name", '{{ data.name }}');
        localStorage.setItem("title", '{{ data.title }}');
        localStorage.setItem("cellphone", '{{ data.cellphone }}');
        localStorage.setItem("mail", '{{ data.mail }}');
        localStorage.setItem("phone", '{{ data.phone }}');

        var nameVarName = localStorage.getItem("name");
        var titleVarName = localStorage.getItem("title");
        var cellphoneVarName = localStorage.getItem("cellphone");
        var mailVarName = localStorage.getItem("mail");
        var phoneVarName = localStorage.getItem("phone");

        document.getElementById("name").value = nameVarName;
        document.getElementById("title").value = titleVarName;
        document.getElementById("cellphone").value = cellphoneVarName;
        document.getElementById("mail").value = mailVarName;
        document.getElementById("phone").value = phoneVarName;

        await liff.init({ liffId: '{{ liff_id }}' });
        if (liff.isLoggedIn()) {
          document.getElementById('btnShare').style.display = 'block';
          if (!liff.isInClient()) {
            document.getElementById('btnLogOut').style.display = 'block';
          }
        } else {
          document.getElementById('btnLogin').style.display = 'block';
        }
      }
      main();
    </script>
  </body>
</html>
